<form [formGroup]="imperialForm" (ngSubmit)="calculateImperial(imperialForm.controls.genderImperial.value)">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-8 offset-md-2>
        <ion-grid>
          <ion-list radio-group formControlName="genderImperial" no-lines>
            <ion-row>
              <ion-col col-6>
                <ion-item class="gender-radio">
                  <ion-label>Male</ion-label>
                  <ion-radio value="male"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="gender-radio">
                  <ion-label>Female</ion-label>
                  <ion-radio value="female"></ion-radio>
                </ion-item>
              </ion-col>
              <!--<control-messages [control]="imperialForm.controls.genderImperial"></control-messages>-->
              <!--<ion-item *ngIf="!imperialForm.controls.genderImperial.valid && (imperialForm.controls.genderImperial.dirty || submitAttempt) 
                    || (!imperialForm.controls.genderImperial.valid && (imperialForm.controls.genderImperial.touched))">
            <span class="form-error">Please choose a gender</span>
          </ion-item>-->
            </ion-row>
          </ion-list>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-8 offset-md-2>
        <ion-grid>
          <ion-list no-lines>
            <ion-row>
              <ion-col col-12 col-md-6>
                <ion-item>
                  <ion-label floating>Height (feet)</ion-label>
                  <ion-input type="number" formControlName="feet" min="1"></ion-input>
                </ion-item>
                <control-messages [control]="imperialForm.controls.feet"></control-messages>
                <!--<ion-item *ngIf="!imperialForm.controls.feet.valid && (imperialForm.controls.feet.dirty || submitAttempt) 
                    || (!imperialForm.controls.feet.valid && (imperialForm.controls.feet.touched))">
            <span class="form-error">Please enter a height in feet</span>
          </ion-item>-->
              </ion-col>
              <ion-col col-12 col-md-6>

                <ion-item>
                  <ion-label floating>Height (inches 0-11)</ion-label>
                  <ion-input type="number" formControlName="inches" min="0" max="11"></ion-input>
                </ion-item>
                <control-messages [control]="imperialForm.controls.inches"></control-messages>

                <!--<ion-item *ngIf="!imperialForm.controls.inches.valid && (imperialForm.controls.inches.dirty || submitAttempt) 
                    || (!imperialForm.controls.inches.valid && (imperialForm.controls.inches.touched))">
            <span class="form-error">Please enter a height in inches</span>
          </ion-item>-->
              </ion-col>
              <ion-col col-12 col-md-6>

                <ion-item>
                  <ion-label floating>Weight (lbs)</ion-label>
                  <ion-input type="number" formControlName="lbs" min="1"></ion-input>
                </ion-item>
                <control-messages [control]="imperialForm.controls.lbs"></control-messages>
                <!--<ion-item *ngIf="!imperialForm.controls.lbs.valid && (imperialForm.controls.lbs.dirty || submitAttempt) 
                    || (!imperialForm.controls.lbs.valid && (imperialForm.controls.lbs.touched))">
            <span class="form-error">Please enter a weight</span>
          </ion-item>-->
              </ion-col>
              <ion-col col-12 col-md-6>

                <ion-item>
                  <ion-label floating>Age (years)</ion-label>
                  <ion-input type="number" formControlName="ageImperial" min="1" max="120"></ion-input>
                </ion-item>
                <control-messages [control]="imperialForm.controls.ageImperial"></control-messages>

                <!--<ion-item *ngIf="!imperialForm.controls.ageImperial.valid && (imperialForm.controls.ageImperial.dirty || submitAttempt) 
                    || (!imperialForm.controls.ageImperial.valid && (imperialForm.controls.ageImperial.touched))">
            <span class="form-error">Please enter a valid age</span>
          </ion-item>-->
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <div padding col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4>
        <button ion-button color="primary" block type="submit">Predicted distance</button>
      </div>
    </ion-row>
  </ion-grid>
</form>