<form [formGroup]="metricForm" (ngSubmit)="calculateMetric(metricForm.controls.genderMetric.value)">
  <ion-grid>
    <ion-list radio-group formControlName="genderMetric" no-lines>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="male"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="female"></ion-radio>
          </ion-item>
        </ion-col>
        <!--<control-messages [control]="metricForm.controls.genderMetric"></control-messages>-->
        <!--<ion-item *ngIf="!metricForm.controls.genderMetric.valid && (metricForm.controls.genderMetric.dirty || submitAttempt) 
                    || (!metricForm.controls.genderMetric.valid && (metricForm.controls.genderMetric.touched))">
      <span class="form-error">Please choose a gender</span>
    </ion-item>-->
      </ion-row>
    </ion-list>
  </ion-grid>

  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Height (cm)</ion-label>
      <ion-input type="number" formControlName="cm" min="1"></ion-input>
    </ion-item>
    <control-messages [control]="metricForm.controls.cm"></control-messages>
    <!--<ion-item *ngIf="!metricForm.controls.cm.valid && (metricForm.controls.cm.dirty || submitAttempt) 
                    || (!metricForm.controls.cm.valid && (metricForm.controls.cm.touched))">
      <span class="form-error">Please enter a valid height</span>
    </ion-item>-->
    <ion-item>
      <ion-label floating>Weight (kg)</ion-label>
      <ion-input type="number" formControlName="kg" min="1"></ion-input>
    </ion-item>
    <control-messages [control]="metricForm.controls.kg"></control-messages>
    <!--<ion-item *ngIf="!metricForm.controls.kg.valid && (metricForm.controls.kg.dirty || submitAttempt) 
                    || (!metricForm.controls.kg.valid && (metricForm.controls.kg.touched))">
      <span class="form-error">Please enter a valid weight</span>
    </ion-item>-->
    <ion-item>
      <ion-label floating>Age (years)</ion-label>
      <ion-input type="number" formControlName="ageMetric" min="1" max="120"></ion-input>
    </ion-item>
    <control-messages [control]="metricForm.controls.ageMetric"></control-messages>
    <!--<ion-item *ngIf="!metricForm.controls.ageMetric.valid && (metricForm.controls.ageMetric.dirty || submitAttempt) 
                    || (!metricForm.controls.ageMetric.valid && (metricForm.controls.ageMetric.touched))">
      <span class="form-error">Please enter a valid age</span>
    </ion-item>-->
  </ion-list>
  <div padding>
    <button ion-button color="primary" block type="submit">Get distance</button>
  </div>
</form>