<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="methodType">
      <ion-segment-button value="metric">
        Metric
      </ion-segment-button>
      <ion-segment-button value="imperial">
        Imperial
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="methodType">
    <div *ngSwitchCase="'metric'">
       <form [formGroup]="metricForm" (ngSubmit)="calculateMetric(metricForm.controls.gender.value)">
         <ion-list radio-group formControlName="gender" no-lines>
            <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio value="female"></ion-radio>
            </ion-item>
            <ion-item *ngIf="!metricForm.controls.gender.valid && (metricForm.controls.gender.dirty || submitAttempt)">
            <span class="form-error">Please choose a gender</span>
          </ion-item>
        </ion-list>
        <ion-list no-lines>
          <ion-item>
            <ion-label stacked>Height (cm)</ion-label>
            <ion-input type="number" formControlName="cm"></ion-input>
          </ion-item>
          <ion-item *ngIf="!metricForm.controls.cm.valid && (metricForm.controls.cm.dirty || submitAttempt)">
            <span class="form-error">Please enter a height</span>
          </ion-item>
          <ion-item>
            <ion-label stacked>Weight (kg)</ion-label>
            <ion-input type="number" formControlName="kg"></ion-input>
          </ion-item>
          <ion-item *ngIf="!metricForm.controls.kg.valid && (metricForm.controls.kg.dirty || submitAttempt)">
            <span class="form-error">Please enter a weight</span>
          </ion-item>
          <ion-item>
            <ion-label stacked>Age (years)</ion-label>
            <ion-input type="number" formControlName="age"></ion-input>
          </ion-item>
          <ion-item *ngIf="!metricForm.controls.age.valid && (metricForm.controls.age.dirty || submitAttempt)">
                <span class="form-error">Please enter a valid age</span>
            </ion-item>
        </ion-list>
        <div padding>
          <button ion-button color="primary" block type="submit">Calculate distance</button>
        </div>
      </form>
    </div>

    <div *ngSwitchCase="'imperial'">
      <ion-list>
        <ion-item>
          <ion-label stacked>Height (feet)</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Height (inches)</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Weight (lbs)</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Age (years)</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button color="primary" block>Get Distance</button>
      </div>
    </div>

  </div>
</ion-content>
  